.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 5%;
}

.App-logo {
  height: 40vmin;
}

.button {
  border: 2px solid white;
  background-color: #282c34;
  color: white;
  padding: .2em;
}

.container {
  padding-top: 5%;
  margin-left: 4%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16%;
  grid-template-rows: auto;
  grid-gap: 4% 4%;
}

.card {
  padding-left: 4%;
  padding-right: 4%;
  font-size: 0.5em;
}

.button {
  cursor: pointer;
}

.detailView {
  margin-top: 4%;
}

.navButtons {
  margin-top: 4%;
  padding-top: 10%;
}

.nextPage {
  float: right;
  margin-right: 10%;
}

.previousPage {
  float: left;
  margin-left: 10%;
}
